.reservas-carrito{
    display: grid;
    grid-template-areas: 
    "pasos pasos"
    "side content";
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    width: 80%;
    margin: auto;
    
}
.pasos-carrito{
    grid-area:pasos;
    text-align: center;
}
aside{
    grid-area:side;
    display:flex;
    flex-direction: column;
    
}
.contenido-carrito{
    grid-area: content;
    display:flex;
    flex-direction: column;
    
   
}

.box-carrito{/*Estas reglas se establecerán para el estilo que tendrán todas los elementos de las cajas del carrito, que mantienen el mismo estilo*/
    border:1px solid rgba(0, 0, 0, 0.208);
    padding:5px;
    border-radius: 10px;
    margin-top: 4px;
    align-items: center;
}
.box-carrito > div{
    margin:10px;
}
.box-usuario{
    display: flex;
    padding: 10px;
}
.datos-personales{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    justify-content: space-around;
    
}

.input-datos-personales{
    width: 40%;
    height: 36px;
    margin: 5px;
}

.nombre-datos-personales{
    display: flex;
    justify-content: space-between;
    
}

.asterisco-obligatorio{
    color:red;
}

.img-perfil{
    width: 40px;
    height: 40px;
}
@media screen and (max-width:1240px){
    .reservas-carrito{
        width: 100%;
    }
}
@media screen and (max-width:700px){
    .reservas-carrito{
        width: 100%;
        grid-template-areas: 
        "pasos"
        "side"
        "content";
        grid-template-columns: 1fr;
    }
}
