<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Booking_entrega2</display-name>
  <welcome-file-list>
    <welcome-file>InicioBookingServlet.do</welcome-file>
  </welcome-file-list>
  <security-constraint>
	
	<web-resource-collection>
		<web-resource-name>Entire Application</web-resource-name>
		<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>CheckReviewServlet</display-name>
    <servlet-name>CheckReviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CheckReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreateReviewServlet</display-name>
    <servlet-name>CreateReviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CreateReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>addFavoritePropertyUserServlet</display-name>
    <servlet-name>addFavoritePropertyUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.addFavoritePropertyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListConfigUser</display-name>
    <servlet-name>ListConfigUser</servlet-name>
    <servlet-class>es.unex.pi.controller.ListConfigUser</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListFavoritesPropertiesByUsersServlet</display-name>
    <servlet-name>ListFavoritesPropertiesByUsersServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListFavoritesPropertiesByUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>deleteFavoritePropertyUserServlet</display-name>
    <servlet-name>deleteFavoritePropertyUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.deleteFavoritePropertyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditReviewServlet</display-name>
    <servlet-name>EditReviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ListPropertiesServlet</display-name>
    <servlet-name>ListPropertiesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListPropertiesServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditAvailablePropertyServlet</display-name>
    <servlet-name>EditAvailablePropertyServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditAvailablePropertyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListReviewsServlet</display-name>
    <servlet-name>ListReviewsServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListReviewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>InicioBookingServlet</display-name>
    <servlet-name>InicioBookingServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.InicioBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.LogInServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreateBookServlet</display-name>
    <servlet-name>CreateBookServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CreateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListBookingsServlet</display-name>
    <servlet-name>ListBookingsServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ListBookingsServlet</servlet-class>
  </servlet>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>es.unex.pi.filter.LoginFilter</filter-class>
  </filter>

</web-app>